files:
  "/etc/yum.repos.d/logentries.repo" :
    mode: "000664"
    owner: root
    group: root
    content: |
      [logentries]
      name=Logentries repo
      enabled=1
      metadata_expire=1d
      baseurl=http://rep.logentries.com/amazon\$releasever/\$basearch
      gpgkey=http://rep.logentries.com/RPM-GPG-KEY-logentries
    encoding: plain

  "/etc/le/config" :
    mode: "000755"
    owner: root
    group: root
    content: |
      [Main]
      user-key = ACCOUNT_KEY
      agent-key = 
      v1_metrics = False
      hostname = server
      metrics-mem = system
      metrics-token = 
      metrics-disk = sum
      metrics-swap = system
      metrics-space = /
      metrics-vcpu =
      metrics-net = sum
      metrics-interval = 5s
      metrics-cpu = system
      pull-server-side-config=False
           
      [Application name]
      path = /path/to/log/file
      token = MY_TOKEN
    encoding: plain

commands:
  01_update_yum:
    command: yum update 
  02_install_logentries:
    command: yum install python-setuptools -y
  02a_install_logentries:
    command: yum install logentries -y
  02b_install_logentries:
    command: yum install logentries-daemon -y
  03_restart_logentries:
    command: service logentries start
